.slideshow-container {
  position: relative;
  max-width: 62rem;
  height: 370px;
  margin: auto;
  overflow: hidden;
  border-radius: 27px;
  z-index: auto;
  /* margin-top: 0px; */
  margin-bottom: 1rem;
}

/* Slides */
.slide {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Slide images */
.slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  z-index: 0;
  position: relative;
}

/* Text overlay */
.text {
  color: #fff;
  font-size: 24px;
  padding: 16px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

/* Navigation arrows */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 15px;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  user-select: none;
  transition: 0.3s;
}

.prev {
  left: -1px;
}

.next {
  right: -1px;
}

/* Hover effects on arrows */
.prev:hover,
.next:hover {
  background: rgba(232, 230, 230, 0.7);
}
@media (max-width: 768px) {
  .slideshow-container {
    position: relative;
    max-width: 93%;
    height: 160px;
    margin: auto;
    overflow: hidden;
    border-radius: 18px;
    z-index: auto;
    margin-top: 0px;
  }
  .slide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* Slide images */
  .slide img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
    z-index: 0;
    position: relative;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    user-select: none;
    transition: 0.3s;
  }

  .prev {
    left: -3px;
  }

  .next {
    right: -3px;
  }

  /* Hover effects on arrows */
  .prev:hover,
  .next:hover {
    background: rgba(218, 217, 217, 0.7);
  }
}
